{#<article{{ attributes.addClass('profile') }}>#}
  {#{% if content %}#}
    {#<div class="article--bottom-author-info">#}
      {#<div class="article--bottom-author-image">#}
        {#{{ content.user_picture }}#}
      {#</div>#}
      {#<div class="article--bottom-author-bio">#}
        {#<div class="author-bio">{{ content.field_bio }}</div>#}
      {#</div>#}
    {#</div>#}

  {#{% endif %}#}
{#</article>#}

{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
  {% if content %}
    <div class="row">
      <div class="author-info column col-lg-8 col-sm-8 col-xs-7">
        <small class="muted"> {{ content.member_for }} </small>
        <div class="contact">
          <span class="contact-link email"><a href="mailto:{{ user.email }}"><span>Email</span></a></span>
          {% if content.field_twitter_url %}
            <span class="contact-link twitter"> {{ content.field_twitter_url }} </span>
          {% endif %}
          {% if content.field_facebook_url %}
            <span class="contact-link facebook"> {{ content.field_facebook_url }} </span>
          {% endif %}
        </div>
        <div class="bio hidden-xs">
          {{ content.field_bio }}
        </div>
      </div>
      <div class="author-image column col-lg-4 col-sm-4 col-xs-5">{{ content.user_picture }} </div>
    </div>
  {% endif %}
</article>
<section class="user-contents">
  <h2 class="block-title mv1 pad1 zero-margin-top zero-padd-top"> Recent Stories by <span>{{ content.field_full_name }}</span></h2>
</section>
