<div class='social-sharing'>
  <a class="fj-share-facebook js-social-share social-icon" href="{{ facebook }}" title="Share on Facebook">
  </a>
  <a class="fj-share-twitter js-social-share social-icon" href="{{ twitter }}" title="Tweet">
  </a>
    {#<div class='secondary-shares'>#}
      <a class="fj-share--pinterest js-social-share social-icon" href="{{ pininterest }}"></a>
      <a class="fj-share--google js-social-share social-icon" href="{{ google }}"></a>
      <a class="fj-share--linkedin js-social-share social-icon" href="{{ linkedin }}"></a>
      <a class="fj-share--stumbleupon js-social-share social-icon" href="{{ stumbleupon }}"></a>
    {#</div>#}
  {#<div class='share-toggle'>#}
  {#</div>#}
</div>
