<div>
  <div class="view-content">
    <div class="row">
      {% if data is not empty %}
        {% for key,term in data %}
          <div class="column large-4 medium-4 small-12 views-row">
            <div class="views-field views-field-name">
              <h2 class="field-content block-title">
                <a href="{{ path('entity.taxonomy_term.canonical',{'taxonomy_term':term.tid}) }}" hreflang="en">{{ term.label }}</a>
              </h2>
            </div>
            <div class="views-field views-field-view">
              {% if term.imageData is not empty %}
                <div>
                  <a href="{{ path('entity.node.canonical',{'node':term.imageData.nid}) }}" class="section-card">
                    <div class="section-card-media">
                      <article class="media media-image view-mode-site-section" data-quickedit-entity-instance-id="1">
                        <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                          <img src="/profiles/thunder/modules/farmjournal_section/images/placeholder.jpg" data-src="{{ term.imageData.img_link }}" style="width:100%;" typeof="Image" class="image-style-site-section">
                        </div>
                      </article>
                    </div>
                    <div class="section-card-title">{{ term.imageData.title }}</div>
                  </a>
                </div>
              {% endif %}
              <div class="item-list">
                <ul>
                  {% if term.nodes is not empty %}
                    {% for node in term.nodes %}
                      <li class="column large-12 medium-12 small-12 section-list">
                        <div class="views-field views-field-title">
                          <span class="field-content">
                            <a href="{{ path('entity.node.canonical',{'node':node.nid}) }}" hreflang="en">{{ node.title }}</a>
                          </span>
                        </div>
                      </li>
                      {% if loop.index == 2 %}
                        <div class="column large-12 medium-12 small-12 section-list desk-display-ad ads-native">
                          {{ term.ad }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <li>No More articles Found for this Category</li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
